<template>
  <div id="todo-app">
    <h1>ToDo</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <TodoAdd
          @add="add"/>
        <ul class="list-group">
          <TodoItem class="list-group-item"
                    @marked="marked"
                    @deleted="deleted"
                    v-for="todo in todos"
                    :todo="todo"
                    :key="todo.id"
          />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import TodoAdd from './TodoAdd'
import TodoItem from './TodoItem'
import TodoApi from '../api/TodoApi'

export default {
  name: 'Todo',
  components: {
    TodoAdd,
    TodoItem
  },
  data: function () {
    return {
      todos: []
    }
  },
  created () {
    this.get()
  },
  methods: {
    get: async function () {
      const response = await TodoApi.TodoApi.get()
      if (response.status === 200) {
        this.todos = response.data
      }
    },
    add: async function (todo) {
      await TodoApi.TodoApi.add(todo).then(() => this.get())
    },
    marked: function (todo) {
      TodoApi.TodoApi.mark(todo).then(() => this.get())
    },
    deleted: function (todo) {
      TodoApi.TodoApi.deleted(todo).then(() => this.get())
    }
  }
}
</script>

<style>
  #todo-app h1 {
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(70, 137, 241, 0.75);
  }
</style>
