<template>
  <div class="input-group">
    <input type="text"
           name="new-todo"
           v-model="text"
           class="form-control new-todo"
           :placeholder="placeholder">
    <div class="input-group-append">
      <button class="btn btn-success add-button" type="button" v-on:click="add">Add</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TodoAdd',
  props: {
    placeholder: {
      type: String,
      default: 'What do you want to do ?'
    }
  },
  data: function () {
    return {
      text: ''
    }
  },
  methods: {
    add: function () {
      const isInvalidText = this.text.length === 0 && !this.text.trim()
      if (isInvalidText) {
        return
      }
      this.$emit('add', { text: this.text })
      this.text = ''
    }
  }
}
</script>

<style scoped>
  *, *::before, *::after {
    box-sizing: content-box;
  }
</style>
