<template>
  <li class="todo-item" >
    <label class="todo"
           v-on:click="marked"
           v-bind:style="todo.isMarked ? 'text-decoration:line-through' : 'none'">
      {{todo.text}}
    </label>
    <button @click="deleted" type="button" class="delete-button close" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</template>

<script>
export default {
  name: 'TodoItem',
  props: {
    todo: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    marked: function () {
      this.$emit('marked', this.todo)
    },
    deleted: function () {
      this.$emit('deleted', this.todo)
    }
  }
}
</script>
